
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@300;400&family=Ubuntu:ital,wght@0,300;1,400&display=swap');

:root{
    --bg-color: #329f5b;
    --primary-color: #2274a5;
    --secondary-color: #9b6a6c;
    --text-color: #dbdaea;
    --other-color: black;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
}   
.icon{
    width: 80px;
    padding-top: 10px;
}
.card-img{
    border: 10px solid var(--primary-color);
}
#nav{
    text-align: left;
}
.mountains{
    text-align: left;

}
#nav a{
    color: var(--text-color);
    text-decoration: none;
    padding: 35px;
    
}
#nav a:hover{
    background-color: var(--other-color);
    color: var(--secondary-color);

}
.home-title{
    text-align: center;
    color: var(--other-color);
    font-family: Sofia-Sans-Extra-Condensed, Ubuntu, Rockwell, Courier Bold, Courier,Georgia,Times,Times New Roman,serif; 
    font-size: 2em;
    margin-top: 10px;
}
.home-content{
    text-align: center;

}
h2{
    margin: 0;
}
h4{
color: var(--other-color);
}
.button-box{
    text-align: center;
}
.main-section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: var(--bg-color);
}
#content{
    max-height: 1600px;
    margin: 0 auto;
}
#hero-img{
width: 100%;
}

body{
    background-color: var(--bg-color);
    font-size: 22px;
    margin: 0;
    padding: 0;

}
header{
    background-color: var(--primary-color);
    
}

.book{
    background-color: var(--bg-colorr);
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: var(--other-color);
    color: var(--text-color);

}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.msg{
    background-color: var(--secondary-color);
    line-height: 1.5em;
    padding: 35px;

}
.msg h2{
    color: var(--text-color);
    text-align: center;
    font-family: Sofia-Sans-Extra-Condensed, Ubuntu, Rockwell, Courier Bold, Courier,Georgia,Times,Times New Roman,serif; 
}


.msg p{
    color: var(--text-color );
    text-align: center;
    font-family: Sofia-Sans-Extra-Condensed, Ubuntu, Rockwell, Courier Bold, Courier,Georgia,Times,Times New Roman,serif; 
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: var(--bg-color);
    padding: 25px 50px;
    margin-top: 200px;

}
footer a{
    color: var(--primary-color);
    text-decoration: none;
    
}
footer p {
    font-size: 1.2em;
    font-family: Sofia-Sans-Extra-Condensed, Ubuntu, Rockwell, Courier Bold, Courier,Georgia,Times,Times New Roman,serif; 
}    

footer a:hover{
    background-color: var(--other-color);
    color: var(--secondary-color);
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}  