html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    background-image: url(../images/circles_background.jpg);
    background-size: cover;
    height: 520px;
}

main{
    width: 100%;
    background-color: #737373;
    height: 220px;
    text-align: center;
    
}


main img{
    display: inline-block;
    border: 7px solid #444;
    max-height: 200px;
    border-radius: 50%;
    margin: 5px 45px;
    
}

