#header {
  text-align: center;
}

.img {
  height: 250px;
  width: 600px;
}

#main {
  text-align: center;
  height: 600px;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}
.div4 {
  grid-column: 2/3;
}
.div5{
    grid-column: 3/4;
}
.div6{
    grid-column: 4/5;
}